{% load static %}

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/particles/particles.min.js' %}"></script>
<script src="{% static 'assets/js/menu.min.js' %}"></script>
<script src="{% static 'assets/plugins/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/plugins/countdown/countdown.min.js' %}"></script>
<script src="{% static 'assets/plugins/nice-select/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/plugins/Isotope/isotope.pkgd.js' %}"></script>
<script src="{% static 'assets/plugins/counterup/waypoints.min.js' %}"></script>
<script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>