{% extends "base.html" %}
{% block title %}Explore{% endblock %}
{% block container %}
<h2 align="center" class="text-white" style="font-family: cursive;">Explore</h2>
  <section class="pt-60 pb-60">
    <div class="container">
      <div class="row mb-25">
        <div class="col-lg-8 order-1 order-lg-0">
          <div class="filter-options d-flex flex-wrap justify-content-center justify-content-lg-start">
            <form method="post">{% csrf_token %}
              <select name="subCategory" class="select-rounded mb-10 lg me-4">
                  {% for s in subcat %}
                  <option value="{{s.subcategoryid}}">{{ s.subcategoryname }}</option>
                  {% endfor %}
              </select>
              <input type="submit" class="btn" name="btnSearch" value="Search">
              <input type="submit" class="btn" value="Reset">
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        {% for i in image %}
        <div class="col-md-3 py-3">
          <div class="card-group" style="height:465px;width:300px">
            <div class="card">
              <a id="image" href="{% url 'imageDetails' %}?id={{i.imageid}}">
                <img src="../static/assets/img/watermark.png"  style="height: 262px;width: 412px;z-index: 1;filter: invert(1);opacity: 0.4;position: absolute;top: 10;border-radius: 10px;">
                <img src="{{i.imageurl.url}}" style="height:262px;width:412px;object-fit:cover;border-radius: 10px;" class="card-img-top" alt="...">
              </a>
              {% if i.userid.userid == request.session.uid %}
              <a class="user-avatar position-absolute" style="top:230px;left: 10px;" href="{% url "myProfile" %}?uid={{i.userid.userid}}" >                                   
                <img class="lazy" style="height:48px;width:48px" src="{{i.userid.profilepic.url}}" alt="">
              </a>
              {% else %}
              <a class="user-avatar position-absolute" style="top:240px;left: 10px;" href="{% url "otherProfile" %}?uid={{i.userid.userid}}">  
                <img class="lazy" style="height:48px;width:48px" src="{{i.userid.profilepic.url}}" alt="">
              </a>
              {% endif %}
              <div class="p-3">
                <h5 class="text-white pt-3">{{i.imagename}}</h5>
                <p>{{i.subcategoryid.subcategoryname}}</p>
                {% if i.userid.userid == request.session.uid %}
                <a href="{% url "myProfile" %}?uid={{i.userid.userid}}"><h5 style="color: #ff0076;font-family: cursive;">By, {{i.userid.username}}</h5></a>
                {% else %}
                <a href="{% url "otherProfile" %}?uid={{i.userid.userid}}"><h5 style="color: #ff0076;font-family: cursive;">By, {{i.userid.username}}</h5></a>
                {% endif %}
              </div>
              <div class="card-footer">
                <p class="text-white">
                  {% if not i.freePaid %}
                    <span class="text-white">Free</span>
                  {% else %}
                    <span>₹ {{i.mrp}}</span>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <!--<div class="single-product mb-30">
            {% if i.userid.userid == request.session.uid %}
            <a class="user-avatar" href="{% url "myProfile" %}?uid={{i.userid.userid}}">                                   
                <img class="lazy" style="height:48px;width:48px" src="{{i.userid.profilepic.url}}" alt="">
                <i class="fa fa-check"></i>
            </a>
            {% else %}
            <a class="user-avatar" href="{% url "otherProfile" %}?uid={{i.userid.userid}}">  
                                                 
                <img class="lazy" style="height:48px;width:48px" src="{{i.userid.profilepic.url}}" alt="">
                <i class="fa fa-check"></i>
            </a>
            {% endif %}
            <a id="image" href="{% url 'imageDetails' %}?id={{i.imageid}}">
              <img src="{{i.imageurl.url}}" style="height:512px;width:412px" alt="" />
            </a>
            <div class="product-content">
              <div class="product-top">
                <h5>{{i.imagename}}</h5>
                {% if not i.freePaid %}
                    MRP : <h6 class>Free</h6>
                {% else %}
                <span>MRP : {{i.mrp}}</span>
                {% endif %}
                {% if i.userid.userid == request.session.uid %}
                <a href="{% url 'myProfile' %}" class="hz-profile creator media mb-4 mb-sm-0">
                    <div class="avatar user-avatar"><img style="height:48px;width:48px" src="{{i.userid.profilepic.url}}" alt=""></div>
                    <div class="content media-body">
                        <h5>{{i.userid.username}}</h5>
                    </div>
                </a>
                {% else %}
                <a href="{% url 'otherProfile' %}?uid={{i.userid.userid}}" class="hz-profile creator media mb-4 mb-sm-0">
                    <div class="avatar user-avatar"><img style="height:48px;width:48px" src="{{i.userid.profilepic.url}}" alt=""></div>
                    <div class="content media-body">
                        <h5>{{i.userid.username}}</h5>
                    </div>
                </a>
                {% endif %}
              </div>
            </div>
          </div>-->
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock  %}