{% extends 'base1.html' %}
{% block container %}
<div class="row mx-3">
    <div class="col-md-12">
        <h2 class="text-center p-3">Add State</h2>
        <form class="border border-1 p-3" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div id="errmsg" name="errmsg"></div>
            <div class="mb-3">
                <label class="fs-4 mb-3" for="txtStateName">Enter State</label>
                <input type="text" name="txtStateName" id="txtStateName" class="form-control" onblur="valsname();">
            </div>
            <div class="d-flex justify-content-evenly">
                <input type="submit" name="btnStateInsert" class="w-25 btn btn-dark" value="Insert">
            </div>
        </form>
    </div>
</div>
<div class="row mx-3">
    <div class="col-md-12 p-5">
        <table class="table table-hover" border="1" align="center">
            <tr class="bg-dark text-light">
                <th>State</th>
                <th>Operations</th>
            </tr>
            {% for s in state %}
            <tr>
                <td>{{s.statename}}</td>
                <td>
                    <a href="{% url 'delState' %}?did={{s.stateid}}" class="btn btn-outline-dark btn-sm">Delete</a>
                    <a href="{% url 'updState' %}?uid={{s.stateid}}" class="btn btn-outline-dark btn-sm">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script type="text/javascript">
    function valsname()
    {
        pname=document.getElementById("txtStateName").value;
        patt=/^[A-Za-z ]{3,20}$/;
        if(patt.test(pname))
        {
            document.getElementById("errmsg").setAttribute("class","alert alert-success");
            document.getElementById("errmsg").innerHTML="Values are correct.";
            return true;
        }
        else
        {
            document.getElementById("errmsg").setAttribute("class","alert alert-danger");
            document.getElementById("errmsg").innerHTML="Enter minimum 3 and maximum 15 characters only.";
            document.getElementById("txtStateName").focus();
            return false;
        }
    }
</script>
{% endblock container %}